.banner {
  background-image: var(--azul-degrade);
  color: var(--branco);
  text-align: center;
  padding: 2.5em 2em;
}

.banner__titulo {
  color: inherit;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

.banner__texto {
  color: inherit;
  line-height: 24px;
}