.card {
  background: var(--branco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 17px;
}

.descricao__titulo {
  color: var(--laranja);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 9px;
}

.descricao__titulo-livro {
  font-size: 18px;
  color: var(--azul);
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 8px;
}

.descricao__texto {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
}

.descricao__imagem {
  width: 162px;
  height: 168px;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
  align-items: center;
}

.botoes__ancora {
  display: inline-block;
  background-color: var(--laranja);
  text-align: center;
  padding: 12px 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--branco);
  font-weight: 700;
  width: 162px;
}

.botoes__ancora:is(:hover, :active) {
  transition: .2s;
  background-color: var(--laranja-hover);
}

.stars {
  display: flex;
}

.star {
  display: inline-block;
  background-color: var(--laranja);
  width: 15px;
  height: 15px;
  margin-bottom: 8px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star:not(:last-child) {
  margin-right: 4px;
}