.carrossel__titulo {
  background-color: var(--branco);
  color: var(--laranja);
  font-size: 18px;
  text-align: center;
  padding: 1em 0 0.5em 0;
  text-transform: uppercase;
  font-weight: 700;
}

.swiper {
  width: 100%;
} 

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-pagination {
  position: initial;
  margin: .5em 0;
}

.swiper .swiper-button-prev, 
.swiper .swiper-button-next {
  display: none;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: var(--azul);
}

@media screen and (min-width: 1024px) {
  .carrossel__titulo {
    font-size: 26px;
    padding: 51px 0 16px 0;
  }

  .swiper {
    width: 80%;
  }

  .swiper .swiper-pagination {
    position: initial;
    margin: 32px 0 61px 0;
    font-size: 16px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

    .swiper .swiper-button-prev, 
    .swiper .swiper-button-next {
    display: block;
  }
}

