.contatos {
  padding: 24px;
  background-color: var(--branco);
}

.contatos__titulo,
.contatos__texto,
.contatos__email::placeholder {
  background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.contatos__texto {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 24px;
}

.contatos__email {
  padding: 18px;
  border-radius: 100px;
  border: solid 1px var(--azul);
  width: 100%;
  background-image: url('/img/Email.svg');
  background-repeat: no-repeat;
  background-position: 2em center;
}

.contatos__email::placeholder {
  padding-left: 2.5em;
}

@media screen and (min-width: 1024px) {
  .contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
  }

  .contatos__container {
    width: 30%;
    margin-right: 45px;
  }

  .contatos__titulo {
    font-size: 24px;
  }

  .contatos__email {
    padding-block: 10px;
    max-width: 326px;
  }
}

@media screen and (min-width: 1728px) {
  .contatos {
    padding-block: 65px;
  }
}