.cabecalho__menu-hamburguer {
  height: 24px;
  width: 36px;
  background-image: url('../img/Menu.svg');
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1em;
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em;
}

.container {
  display: flex;
  align-items: center;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 60vw;
  z-index: 2;
}

.container__botao:checked ~.lista-menu {
  display: block;
}

.lista-menu__titulo, 
.lista-menu__item{
  background-color: var(--branco);
  padding: 1em;
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao {
  display: none;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
  position: relative;
}

 .opcoes__botao {
   display: none;
 }

@media screen and (min-width: 64rem) {
  .container__titulo, 
  .container__titulo--negrito {
    font-family: var(--fonte-secondaria);
    font-size: 30px;
  }

  .container__titulo {
    margin-left: 11px;
    display: block;
  }

  .container__titulo--negrito {
    margin-left: 11px;
    font-weight: 700;
  }

  .opcoes {
    display: flex;
    gap: 42px;
  }

 
  
  .opcoes__item {
    text-transform: uppercase;
    color: var(--preta);
    padding: 10px;

  }

  .opcoes__link {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
  }

  .container__imagem.hidden {
    display: none;
  }

  .cabecalho__menu-hamburguer {
    display: none;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }
}